.uc-loader{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;
    z-index: 100;
    width: 50%;
    height: 70%;
    background-color: white;
    box-shadow: 1px 1px 100px 0px lightgrey;
    border-radius: 50px;
    /* background-color: #ece8e8; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
}
.uc-loader .spinner{
    
    border-top: 5px  solid black;
    border-right: 5px  solid black;
    border-left: 0px  solid black;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    animation: spin 0.5s linear infinite;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg)
    }
}